
<div class="card">
  <div class="card-header bg-info text-white">
   Liste des produits
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Unit Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td scope="row">{{ item.title }}</td>
          <td [style.color]="'red'">{{ item.unitPrice }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>


